<h2>
  <%= @judge.full_name(true) %>
  <small id="word_count">
    <%= pluralize word_count(@judge.biography), "word" %>
  </small>
</h2>

<%= form_for @judge, url: event_biography_url(@event, @judge), method: :put do |f| %>
  <%= f.text_area :biography, rows: "10", class: "span8" %>
  <div class="form-actions">
    <%= f.submit "Save Biography", class: "btn btn-primary" %>
    <%= link_to "Cancel", event_biographies_path(@event), class: "btn btn-danger" %>
  </div>
<% end %>
