
<% if @judges.without_bio.size > 0 %>
  <h3>Missing Biographies <small><%= "(#{@judges.without_bio.size})" %></small></h3>
  <ul class="list-unstyled">
    <% @judges.without_bio.each do |judge| %>
      <li><%= judge.full_name %></li>
    <% end %>
  </ul>
<% end %>

<% @judges.with_bio.each do |judge| %>
  <%= link_to "Edit", edit_event_biography_path(@event, judge), class: "btn btn-info btn-sm pull-right" %>
  <h3>
    <%= judge.full_name(true) %>
    <%= biography_badge judge.biography %>
    <% if judge.biography_approved? %>
      <span class="label label-default label-success">Approved</span>
    <% end %>
  </h3>
  <p><%= judge.biography %></p>
<% end %>
