<div class="nested-fields">
  <div class="form-group <%= "error" if f.object.invalid? %>">
    <div class="col-sm-3">
      <%= f.select :address_type, options_for_select(Address.types, f.object.address_type), { include_blank: 'type' }, { class: 'form-control' } %>
    </div>
    
    <div class="col-sm-9">
      <%= f.text_field :street1, placeholder: "Street", class: 'form-control' %>
      <%= f.text_field :street2, placeholder: "Street", class: 'form-control' %>
      <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5">
          <%= f.text_field :city, placeholder: "City", class: 'form-control' %>
        </div>
      
        <div class="col-xs-4 col-sm-4 col-md-4">
          <%= f.text_field :state, placeholder: "State", class: 'form-control' %>
        </div>
      
        <div class="col-xs-3 col-sm-3 col-md-3">
          <%= f.text_field :zip, placeholder: "Zip", class: 'form-control' %>
        </div>
      </div>
    
      <div class="col-sm-9">
        <%= f.label :primary do %>
          <%= f.check_box :primary %> Primary?
          <%= link_to_remove_association f do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        <% end %>
      </div>
      
      <% if f.object.invalid? %>
        <div class="clearfix"></div>
        <span class="help-block"><%= f.object.errors.full_messages.join(", ") %></span>
      <% end %>
    </div>
    

  </div>
</div>
