<div class="nested-fields">
  <div class="control-group <%= "error" if f.object.invalid? %>">
    <div class="address-label">
      <%= f.select :address_type, options_for_select(Address.types), {include_blank: "type"}, {class: "input-small"} %>
    </div>
    <div class="controls controls-row">
      <%= f.text_field :street1, placeholder: "Street", class: "span5" %>
      <%= f.label :primary, class: "checkbox span2" do %>
        <%= f.check_box :primary %> Primary?
        <%= link_to_remove_association f, {class: "btn btn-mini btn-danger"} do %>
          <i class="icon-remove icon-white"></i>
        <% end %>
      <% end %>
    </div>
    <div class="controls controls-row">
      <%= f.text_field :street2, placeholder: "Street", class: "span5" %>
    </div>
    <div class="controls controls-row">
      <%= f.text_field :city, placeholder: "City", class: "span2" %>
      <%= f.text_field :state, placeholder: "State", class: "span2" %>
      <%= f.text_field :zip, placeholder: "Zip", class: "span1" %>
      <% if f.object.invalid? %>
        <div class="clearfix"></div>
        <span class="help-block"><%= f.object.errors.full_messages.join(", ") %></span>
      <% end %>
    </div>
  </div>
</div>
