
  <%= f.input :title, as: :select, collection: Person.titles, input_wrapper_html: { class: 'col-sm-2' } %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <%= f.text_field :first_name, placeholder: "First", class: 'form-control' %>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <%= f.text_field :middle_name, placeholder: "Middle", class: 'form-control' %>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <%= f.text_field :last_name, placeholder: "Last", class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <%= f.input :suffix, as: :select, collection: Person.suffixes, input_wrapper_html: { class: 'col-xs-3 col-sm-3 col-md-3' } %>
  <%= f.input :email %>
  <%= f.input :company %>
  <%= f.input :position %>
  <%= f.association :assistant, label_method: :full_name %>
  <%= f.input :gender, as: :enum_select, input_wrapper_html: { class: 'col-xs-3 col-sm-3 col-md-3' } %>
  <%= f.input :shirt_size, as: :enum_select, input_wrapper_html: { class: 'col-xs-3 col-sm-3 col-md-3' } %>
  <%= f.input :avatar, as: :image_preview, input_html: { preview_version: :profile } %>

  <fieldset>
    <legend>Phone numbers</legend>
    <div id="phone_numbers">
      <%= f.simple_fields_for :phone_numbers do |phone| %>
        <%= render "people/phone_number_fields", :f => phone %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add phone', f, :phone_numbers, partial: 'people/phone_number_fields' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Addresses</legend>
    <div id="addresses">
      <%= f.simple_fields_for :addresses do |address| %>
        <%= render "people/address_fields", :f => address %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add address', f, :addresses, partial: 'people/address_fields' %>
      </div>
    </div>
  </fieldset>

