<div class="form-inputs">
  <%= f.input :title, as: :select, collection: Person.titles, input_html: {class: "input-small"} %>
  <%= f.input :name do %>
    <div class="controls-row">
      <%= f.text_field :first_name, class: "span2", placeholder: "First" %>
      <%= f.text_field :middle_name, class: "span1", placeholder: "" %>
      <%= f.text_field :last_name, class: "span2", placeholder: "Last" %>
    </div>
  <% end %>
  <%= f.input :suffix, as: :select, collection: Person.suffixes, input_html: {class: "input-small"} %>
  <%= f.input :email %>
  <%= f.input :company %>
  <%= f.input :position %>
  <%= f.association :assistant, label_method: :full_name %>
  <%= f.input :gender, as: :enum_select, input_html: {class: "input-small"} %>
  <%= f.input :shirt_size, as: :enum_select, input_html: {class: "input-small"} %>

  <fieldset>
    <legend>Phone numbers</legend>
    <div id="phone_numbers">
      <%= f.simple_fields_for :phone_numbers do |phone| %>
        <%= render "people/phone_number_fields", :f => phone %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add phone', f, :phone_numbers, partial: 'people/phone_number_fields' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Addresses</legend>
    <div id="addresses">
      <%= f.simple_fields_for :addresses do |address| %>
        <%= render "people/address_fields", :f => address %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add address', f, :addresses, partial: 'people/address_fields' %>
      </div>
    </div>
  </fieldset>
</div>
