<div class="nested-fields">
  <div class="form-group <%= "error" if f.object.invalid? %>">
    <div class="col-sm-3">
      <%= f.select :phone_type, options_for_select(PhoneNumber.types, f.object.phone_type), { include_blank: 'type' }, { class: 'form-control' } %>
    </div>
    
    <div class="col-sm-9">
      <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5">
          <%= f.text_field :phone_number, class: 'form-control', value: number_to_phone(f.object.phone_number, area_code: true) %>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4">
          <%= f.label :primary, class: 'control-label' do %>
            <%= f.check_box :primary %> Primary?
            <%= link_to_remove_association f do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>
          <% end %>
        </div>
        <% if f.object.invalid? %>
        	<div class="clearfix"></div>
        	<span class="help-block"><%= f.object.errors.full_messages.join(", ") %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
