<h1><%= @person.full_name(true) %></h1>

<div class="row">
  <div class="col-md-7">
    <h3>
      <%= @person.company %><br>
      <small><%= @person.position %></small>
    </h3>

    <div class="row">
      <div class="col-md-4">
        <p>
          <b>Email:</b>
          <%= mail_to @person.email %>
        </p>

        <p>
          <% @person.phone_numbers.each do |phone| %>
          <strong><%= phone.phone_type %>:</strong>
          <%= number_to_phone phone.phone_number, area_code: true %><br>
          <% end %>
        </p>

        <p>
          <b>Gender:</b>
          <%= @person.gender %>
        </p>

        <p>
          <b>Shirt size:</b>
          <%= @person.shirt_size %>
        </p>

        <%= link_to 'Edit', edit_person_path(@person) %> |
        <%= link_to 'Back', people_path %>

      </div>

      <div class="col-md-3">
        <dl>
        <% @person.addresses.each do |address| %>
          <dt><%= address.address_type %><dt>
          <dd>
            <address>
              <%= address.street1 %><br>
              <%= "#{address.street2}<br>".html_safe if address.street2.present? %>
              <%= "#{address.city}, #{address.state} #{address.zip}" %>
            </addres>
          </dd>
        <% end %>
        </dl>
      </div>
    </div>

    <% if @person.assistant.present? %>
    	<p>
    		<b>Assistant:</b>
    		<%= mail_to @person.assistant.email,  @person.assistant.full_name %>
    	</p>
    <% end %>

    <h3>Judging History</h3>
    <table class="table table-striped">
      <tr>
        <th>Season</th>
        <th>Event</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @person.judge_history.each do |judge| %>
      <tr>
        <td><%= judge.event.game.season %></td>
        <td><%= link_to judge.event, judge.event %></td>
        <td><%= judge.status %></td>
        <th>
          <%= link_to [judge.event, judge], class: "btn btn-success btn-sm" do %>
            <i class="glyphicon glyphicon-user icon-white"></i> Show
          <% end %>
        <td>
          <%= link_to edit_event_judge_path(judge.event, judge), 
                      class: "btn btn-info btn-sm" do %>
          <i class="glyphicon glyphicon-pencil icon-white"></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to [judge.event, judge], class: "btn btn-danger btn-sm", method: :delete, confirm: "Are you sure?" do %>
            <i class="glyphicon glyphicon-trash icon-white"></i> Delete
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-5">
    <h3>Comments</h3>
    <%= simple_form_for [@person, @comment] do |f| %>
      <%= f.input :body, as: :text, label: false, input_html: {rows: 4, class: "col-md-5"} %>
      <%= f.submit "Add comment", class: "btn btn-info" %>
    <% end %>

    <%= render @person.comments.sorted %>
  </div>
</div>

