<h1><%= @person.full_name %></h1>
<h2>
  <%= @person.company %><br>
  <small><%= @person.position %></small>
</h2>


<p>
  <b>Email:</b>
  <%= mail_to @person.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.gender %>
</p>

<p>
  <b>Shirt size:</b>
  <%= @person.shirt_size %>
</p>

<% if @person.assistant.present? %>
	<p>
		<b>Assistant:</b>
		<%= mail_to @person.assistant.email,  @person.assistant.full_name %>
	</p>
<% end %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
