<div class="pull-right">
  <%= form_tag event_judges_path(@event), method: :get, class: 'form-inline' do %>
    <%= label_tag :status %>
    <% e = Judge.new.enums(:status) %>
    <%= select_tag :status, options_for_select(e.select_options, params[:status]), prompt: "All" %>
    <%= submit_tag 'Filter', class: "btn btn-default" %>
  <% end %>
  Export: <%= link_to "CSV", event_judges_path(@event, params.merge(format: :csv)) %> | <%= link_to "Excel", event_judges_path(@event, params.merge(format: :xls)) %>
</div>

<h1 class="page-header">Listing judges</h1>

<%= link_to 'New Judge', new_event_judge_path(@event) %><br>

<br>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
  </tr>
  <% @judges.each do |judge| %>
  <tr>
    <td><%= link_to judge.person.full_name, event_judge_path(@event, judge, status: params[:status]) %></td>
    <td><%= mail_to judge.person.email %></td>
    <td><%= judge.status %></td>
  </tr>
  <% end %>
</table>
