<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :game %>
    <%= f.input :name %>
    <%= f.input :venue %>
    <%= f.input :address, as: :text %>
    <%= f.input :begins_on %>
    <%= f.input :ends_on %>
    <%= f.input :logo, as: :image_preview, input_html: {preview_version: :medium} %>
  </div>

  <%= f.button :submit %>

<% end %>
