<h2>
	<%= @event.name %> Judge Roster<br>
	<small><%= l DateTime.now %></small>
</h2>

<table class="table table-striped">
	<tr>
		<th></th>
		<th>Name</th>
		<th>Position</th>
		<th>Company</th>
	</tr>
	<% @judges.each_with_index do |judge, index| %>
		<tr>
			<td><%= index+1 %>.</td>
			<td><%= judge.person.full_name %></td>
			<td><%= judge.person.position %></td>
			<td><%= judge.person.company %></td>
		</tr>
	<% end %>
</table>
