<p id="notice"><%= notice %></p>

<%= image_tag @event.game.logo_url(:medium), class: "pull-right" %>
<h1><%= image_tag @event.logo_url(:thumb) %><%= @event.name %></h1>

<p>
  <address>
    <%= @event.venue %><br>
    <%= @event.street1 %><br>
    <% if @event.street1.present? %>
      <%= @event.street2 %><br>
    <% end %>
    <%= @event.location %>  
  </address>
</p>

<p>
  <b>Begins on:</b>
  <%= l @event.begins_on, format: :long %>
</p>

<p>
  <b>Ends on:</b>
  <%= l @event.ends_on, format: :long %>
</p>

<ul class="nav nav-pills">
  <li>
    <%= link_to 'Edit', edit_event_path(@event) %>
  </li>
  <li>
    <%= link_to 'Back', events_path %>
  </li>
</ul>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Status", @event %>
  </li>
  <li>
    <%= link_to "Roster", event_roster_path(@event) %>
  </li>
</ul>

<div class="row">
  <div class="offset1 span3">

    <h3>Confirmed</h3>
    <ol>
      <% @judges.where({status: :confirmed}).each do |judge| %>
      <li>
        <%= link_to judge.person.full_name, edit_event_judge_path(@event, judge) %>
        <% if judge.received_event_info? %>
          <i class="icon-envelope"></i>
        <% end %>
      </li>
      <% end %>
    </ol>
  </div>

  <div class="span3">
    <h3>Invited</h3>
    <ul>
      <% @judges.where({status: :invited}).each do |judge| %>
      <li><%= link_to judge.person.full_name, edit_event_judge_path(@event, judge) %></li>
      <% end %>
    </ul>
  </div>

  <div class="span3">
    <h3>Declined</h3>
    <ul>
      <% @judges.where({status: :declined}).each do |judge| %>
      <li><%= link_to judge.person.full_name, edit_event_judge_path(@event, judge) %></li>
      <% end %>
    </ul>

    <h3>Withdrew</h3>
    <ul>
      <% @judges.where({status: :withdrew}).each do |judge| %>
      <li><%= link_to judge.person.full_name, edit_event_judge_path(@event, judge) %></li>
      <% end %>
  </div>
</div>
