
<ul class="unstyled card-list">

  <% @people.each do |person| %>
    <li class="card-item">
      <div class="card center">
        <div class="filling">
          <%= image_tag @event.game.program.icon_url(:thumb), class: "upside-down" %>
          <h1 class="upside-down">
            <%= person.first_name %><br>
            <%= person.last_name %>
          </h1>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="filling">
          <%= image_tag @event.logo, height: "50", class: "left-logo" %>
          <%= image_tag @event.game.logo, height: "50", class: "right-logo" %>
          <h2 class="name center">
            <%= person.full_name %><br>
            <small><%= person.company %></small>
          </h2>
          <% if person.class == Attendee && person.entree.present? %>
            <div class="center">
              <%= "(#{person.entree.protein})" %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
