<div class="row">
  <div class="col-sm-6 col-md-6">
  <%= simple_form_for(@game) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.association :program %>
        <%= f.input :name %>
        <%= f.input :season %>
        <%= f.input :active %>
        <%= f.input :logo, as: :image_preview, input_html: { preview_version: :medium } %>
      </div>

      <%= f.button :submit %>

    <% end %>
  </div>
</div>