<h1>Active games</h1>

<div class="row">
  <% @active_games.each do |game| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag(game.logo_url(:medium)), game, class: "thumbnail" %>
      <h3><%= "#{game.name}, #{game.season}" %><br><small><%= game.program %></small></h3>
    </div>
  </div>
  <% end %>
</div>

<h2>Past Games</h2>

<div class="row">
    <% @past_games.each do |game| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(game.logo_url(:medium)), game, class: "thumbnail" %>
        <h3><%= "#{game.name}, #{game.season}" %><br><small><%= game.program %></small></h3>
      </div>
    </div>
    <% end %>
</div>

<br />

<%= link_to 'New Game', new_game_path %>
