<h1>Active games</h1>

<ul class="thumbnails">
  <% @active_games.each do |game| %>
  <li class="span4">
    <div class="thumbnail">
      <%= link_to image_tag(game.logo_url(:medium)), game, class: "thumbnail" %>
      <h3><%= "#{game.name}, #{game.season}" %><br><small><%= game.program %></small></h3>
    </div>
  </li>
  <% end %>
</ul>

<h2>Past Games</h2>

<ul class="thumbnails">
  <% @past_games.each do |game| %>
  <li class="span4">
    <div class="thumbnail">
      <%= link_to image_tag(game.logo_url(:medium)), game, class: "thumbnail" %>
      <h3><%= "#{game.name}, #{game.season}" %><br><small><%= game.program %></small></h3>
    </div>
  </li>
  <% end %>
</ul>


<br />

<%= link_to 'New Game', new_game_path %>
