<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Season:</b>
  <%= @game.season %>
</p>

<p>
  <b>Logo:</b>
  <%= image_tag @game.logo_url(:medium) %>
</p>

<p>
  <b>Program:</b>
  <%= @game.program %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
