<h2><%= t 'devise.invitations.edit.header' %></h2>

<div class="row">
  <div class="col-md-offset-1 col-md-4">
    <p>You can access JAMS by signing in with any one of the online services
      below.
    </p>
    <%= link_to "Sign in with Google",
                user_google_oauth2_omniauth_authorize_path(invitation_token: params[:invitation_token]),
                class: "zocial google" %><br>
    <br>
    <%= link_to "Sign in with Yahoo",
                user_open_id_omniauth_authorize_path(:openid_url => "http://me.yahoo.com",
                                             invitation_token: params[:invitation_token]),
                class: "zocial yahoo" %>

  </div>

  <div class="col-md-2">
    <h2 style="text-align: center;">...or...</h2>
  </div>

  <div class="col-md-4">
    <p>
      You can create a new password and sign in using your email address.
    </p>
    <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :invitation_token %>

      <%= f.input :password %>
      <%= f.input :password_confirmation %>

      <%= f.submit t("devise.invitations.edit.submit_button") %>
    <% end %>
  </div>
</div>
