<%= simple_form_for(@dinner_event, url: event_dinner_path(@event), html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :venue %>
    <%= f.input :room %>
    <%= f.input :street1 %>
    <%= f.input :street2 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :begins_at %>
    <%= f.input :ends_at %>
    <%= f.simple_fields_for :entrees do |entree| %>
      <%= render 'entree_fields', :f => entree %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add entree', f, :entrees %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
