<div class="page-header">
  <%= link_to 'Add Guest', new_event_dinner_attendee_path(@event), class: 'btn btn-primary pull-right', remote: true %>
  <h2>Judge's Dinner</h2>
</div>

<div class="row">
  <div class="span4">
    <p>
      <address>
        <h3><%= @dinner_event.venue %></h3>
        <%= @dinner_event.street1 %><br>
        <%= @dinner_event.street2 %><br>
        <%= @dinner_event.city %>, <%= @dinner_event.state %> <%= @dinner_event.zip %>
      </address>
    </p>

    <p>
      <b>Begins at:</b>
      <%= l @dinner_event.begins_at %>
    </p>

    <p>
      <b>Ends at:</b>
      <%= l @dinner_event.ends_at %>
    </p>

    <dl>
      <% @dinner_event.entrees.each do |entree| %>
        <dt><%= entree.name %></dt>
        <dd><%= entree.description %></dd>
      <% end %>
    </dl>
  </div>

  <div class="span4">
    <h3>
      Guest List 
      <small id="attending_guest_count">(<%= @dinner_event.attendees.attending.size %>)</small>
    </h3>
    <table id="guest_list" class="table">
      <thead>
        <tr>
          <th>Name</th>
          <% if @dinner_event.entrees.size > 0 %>
            <th>Entree</th>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'attending_rsvp', collection: @dinner_event.attendees.attending, as: :rsvp %>
      </tbody>
    </table>
  </div>

  <div class="span3">
    <h4>
      Declined
      <small id="declined_guest_count">(<%= @dinner_event.attendees.declined.size %>)</small>
    </h4>

    <ul id="declined_reservations" class="unstyled">
      <%= render partial: 'declined_rsvp', collection: @dinner_event.attendees.declined, as: :rsvp %>
    </ul>
  </div>
</div>

<%= link_to 'Edit', edit_event_dinner_path(@event) %> |
<%= link_to 'Back', event_dinner_path(@event) %>

