<div class="page-header">
  <h2>Judge's Dinner</h2>
</div>

<div class="row">
  <div class="span4">
    <p>
      <address>
        <h3><%= @dinner_event.venue %></h3>
        <%= @dinner_event.street1 %><br>
        <%= @dinner_event.street2 %><br>
        <%= @dinner_event.city %>, <%= @dinner_event.state %> <%= @dinner_event.zip %>
      </address>
    </p>

    <p>
      <b>Begins at:</b>
      <%= l @dinner_event.begins_at %>
    </p>

    <p>
      <b>Ends at:</b>
      <%= l @dinner_event.ends_at %>
    </p>

    <dl>
      <% @dinner_event.entrees.each do |entree| %>
        <dt><%= entree.name %></dt>
        <dd><%= entree.description %></dd>
      <% end %>
    </dl>
  </div>

  <div class="span4">
    <h3>
      Guest List 
      <small>(<%= @dinner_event.attendees.attending.size %>)</small>
    </h3>
    <table class="table">
      <tr>
        <th>Name</th>
        <% if @dinner_event.entrees.size > 0 %>
          <th>Entree</th>
        <% end %>
      </tr>
      <% @dinner_event.attendees.attending.each do |attendee| %>
        <tr>
          <td><%= attendee.person.full_name %></td>
          <% if @dinner_event.entrees.size > 0 %>
            <td><%= attendee.entree.protein if attendee.entree.present? %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="span3">
    <h4>
      Declined
      <small>(<%= @dinner_event.attendees.declined.size %>)</small>
    </h4>

    <ul class="unstyled">
      <% @dinner_event.attendees.declined.each do |attendee| %>
        <li><%= attendee.person.full_name %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'Edit', edit_event_dinner_path(@event) %> |
<%= link_to 'Back', event_dinner_path(@event) %>
