<% content_for :content do %>

<%= link_to @event.game do %>
  <%= image_tag @event.game.logo_url(:medium), border: "0", class: "pull-right" %>
<% end %>
<h1>
  <%= image_tag @event.logo_url(:thumb) if @event.logo.present? %><%= @event.name %>
</h1>

<ul class="nav nav-pills">
  <li>
    <%= link_to 'Edit', edit_event_path(@event) %>
  </li>
  <li>
    <%= link_to 'Back', events_path %>
  </li>
</ul>

<ul class="nav nav-tabs">
  <li class="<%= active_tab? 'events' %>">
    <%= link_to "Status", @event %>
  </li>
  <li class="<%= active_tab? 'judges' %>">
    <%= link_to "Judges", event_judges_path(@event) %>
  </li>
  <li>
    <%= link_to "Roster", event_roster_path(@event) %>
  </li>
  <li class="<%= active_tab? 'shirts' %>">
    <%= link_to "Shirts", event_shirts_path(@event) %>
  </li>
  <li>
    <%= link_to "Namecards", event_name_cards_path(@event) %>
  </li>
  <li class="<%= active_tab? 'biographies' %>">
    <%= link_to "Biographies", event_biographies_path(@event) %>
  </li>
  <li class="dropdown <%= active_tab? 'tools' %>">
    <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
      Tools <b class="caret"></b>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to "Email Blast", event_email_builder_path(@event) %></li>
    </uL>
  </li>
</ul>

<%= yield %>

<% end %>

<%= render file: "layouts/application" %>
